.button-ui {
  transition: var(--transition-main);

  &--default {
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--color-gray);

    &:hover:not(:disabled) {
      opacity: 0.5;
    }
  }

  &--icon {
    width: 30px;
    border: none;
    height: 30px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &:hover:not(:disabled) {
      cursor: pointer;
      background-color: var(--color-gray);
    }

    & > span.icon {
      height: 25px;
    }
  }
}
