:root {
  --color-red: red;
  --color-blue: #3498db;
  --color-gray: #e6e6e6;
  --color-gray-light: #f5f5f5;
  --color-gray-light-1: #f3f3f3;
  --bg-overlay: rgba(0, 0, 0, 0.5);
  --bg-main: #fff;
  --transition-main: all 0.3s;
}
