.list-filter {
  display: flex;
  align-items: center;

  .filter-user-form {
    width: 100%;

    &__body {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: space-between;

      .input-container {
        max-width: 30%;
      }
    }

    &__action {
      .button-ui:first-child {
        margin-right: 10px;
      }
    }
  }
}
