.header {
  height: 40px;
  display: flex;
  padding: 0 40px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-bottom: 1px solid var(--color-gray);

  @media screen and (max-width: 600px) {
    padding: 0 15px;
  }
}
