.footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--color-gray);

    p {
        margin: 0;
    }

    span {
        margin-left: 5px;
    }
}
